
<footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">

        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 TGITDT Copyright:
    <a class="text-white" href="https://jaren.cudilla.net/">Jaren Cudilla</a>
  </div>
  <!-- Copyright -->
</footer>
